.section {
  width: 15vh;
  height: 15vh;
  padding: 20px;
  background-color: #e3c197;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
}

.disabled {
  transition: all ease-in-out 0.3s;
  background-color: #d6b383;
}

.icon {
  width: 100%;
  height: 100%;
}

.iconDisabled {
  width: 50%;
  transition: all ease-in-out 0.3s;
}
